<div id="subscribe">
	<div id="subscribe_text">
		Subscribe for updates on software development, contracting, side projects, blog posts and who knows what else.
		<a href="https://buttondown.email/tim_abell/archive/" target="_blank">Read the archives</a> for an idea of content.
	</div>

<!-- Begin buttonmail Signup Form -->
	<form
	action="https://buttondown.email/api/emails/embed-subscribe/tim_abell"
	method="post"
	target="popupwindow"
	onsubmit="window.open('https://buttondown.email/tim_abell', 'popupwindow')"
	class="embeddable-buttondown-form"
	>
	<label for="bd-email">Your email:</label>
	<input type="email" name="email" id="bd-email" />
	<input type="submit" value="Subscribe" />
	<p>
	</p>
	<p>
		Mailing list powered by the excellent
		<a href="https://buttondown.email/tim_abell" target="_blank">buttondown.email</a>.
	</p>
	</form>
<!--End buttonmail -->

</div>
