{% if site.footer-links.email %}<a rel="me" href="mailto:{{ site.footer-links.email }}"><i class="svg-icon email"></i></a>{% endif %}

{% if site.footer-links.linkedin %}<a rel="me" href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"><i class="svg-icon linkedin"></i></a>{% endif %}

{% if site.footer-links.mastodon %}<a rel="me" href="{{ site.footer-links.mastodon }}"><i class="svg-icon mastodon"></i></a>{% endif %}

{% if site.footer-links.twitter %}<a rel="me" href="https://www.twitter.com/{{ site.footer-links.twitter }}"><i class="svg-icon twitter"></i></a>{% endif %}
