/* give the subscribe box some space and a background to differentiate from post and disqus on blog post footers */
#subscribe {
    background-color: #eee;
    margin: 1em 0 2em 0;
		padding: 0 0.5em;
		text-align: center;
}
#subscribe #mc_embed_signup {
    background: inherit;
}

.flickr-pic {
    text-align: center;
}
.post .flickr-pic img {
    max-width: 600px;
    max-height: 400px;
}


@keyframes site-avatar {
  0% {
		opacity: 0;
  }
  50% {
		transform: translateX(-300px) rotate(-400deg);
		opacity: 0;
  }
  100% {
		transform: translateX(0px) rotate(0deg);
		opacity: 1;
  }
}

.site-avatar { animation: site-avatar 2s linear; }
